html, body{
    width:100%;
    margin:0;
    display: flex;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.left-column {
    flex: 3;
    margin: 10px;
}

.right-column {
    flex: 1;
    margin-top: 85px;
    margin-left: 20px;
}
.right-el{
    background-color: rgb(245, 245, 245);
    padding: 20px;
    margin-bottom: 20px;
    
}

.right-column span {
    font-size: 20px;
    color:gray;
    opacity:0.9;
    
}
.right-column b {
    color:rgb(0, 0, 0);
    font-size: 22px;
}
.right-column img {
    margin-right: 10px;
    width: 35px; /* Настройте ширину изображения по своему усмотрению */
    height: auto;
}
/* .right-column :hover p {
    color: red;
} */

.parameter :hover {
    filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(6700%) hue-rotate(360deg) brightness(90%) contrast(91%);
}

#map {
    width: 100%;
    height: 700px; 
    background-color: #f0f0f0; /* Временный фон для карты */
}

.route-header {
    display: flex;
    align-items: center;
}
.route-header img {
    margin-right: 10px;
    width: 50px; /* Настройте ширину изображения по своему усмотрению */
    height: auto;
}